<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Seat Reservation System</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script th:inline="javascript">
        function validation(){
            var f = document.getElementsByTagName("form")

            return(validateSeatCode(f))

            if(validateSeatCode(f) == true){
                return true
            } return false
        }

        function validateEmployeeId(form) {
            var seatcodeInput = document.getElementById("seatcode").value

            if(seatcodeInput == null|| seatcodeInput == ""){
                alert("Please enter Employee ID")
            }
            else if(seatcodeInput.length < 2 ||  seatcodeInput.length > 2){
                alert("Employee ID is from 1000 to 2000")
            }
            else if(seatcodeInput.subString(0,1) > 4 || seatcodeInput.subString(0,1) < 1 || seatcodeInput.subString(1,2) !== "A" ||
                seatcodeInput.subString(1,2) !== "B" || seatcodeInput.subString(1,2) !== "D" || seatcodeInput.subString(1,2) !== "E"){
                error.append("Please enter integer for Employee ID")
            }
            if (error.innerHTML.length > 0)
                return false;
            else
                return true;
        }
    </script>
    <style>
        h1 {
            text-align:center;
            color: yellow;
        }
        #container{
            text-decoration: white;
            justify-content: center;
            border: 1px solid;
            width: 70%;
        }
        th{
            text-align: center;
        }
        td{
            text-align: center;
        }
        body{
            background: darkseagreen;
        }
        footer {
            color: white;
            background: black;
        }
        #container2{
            text-decoration: white;
            justify-content: center;
            width: 70%;
        }
    </style>
</head>
<body>
<h1>Seat Reservation System</h1>
<script>
    document.getElementById("mes").innerHTML = "";
</script>
<h1 th:text="${errorMessage}" id="mes">Test</h1>
<div class="container">
    <table id="container">
        <thead>
        <tr>
            <th>A</th>
            <th>B</th>
            <th>C</th>
            <th>D</th>
            <th>E</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td id="1A">1A</td>
            <td id="1B">1B</td>
            <td id="1C">1C</td>
            <td id="1D">1D</td>
            <td id="1E">1E</td>
        </tr>
        <tr>
            <td id="2A">2A</td>
            <td id="2B">2B</td>
            <td id="2C">2C</td>
            <td id="2D">2D</td>
            <td id="2E">2E</td>
        </tr>
        <tr>
            <td id="3A">3A</td>
            <td id="3B">3B</td>
            <td id="3C">3C</td>
            <td id="3D">3D</td>
            <td id="3E">3E</td>
        </tr>
        <tr>
            <td id="4A">4A</td>
            <td id="4B">4B</td>
            <td id="4C">4C</td>
            <td id="4D">4D</td>
            <td id="4E">4E</td>
        </tr>
        </tbody>
    </table>

    <h1>There are 20 remaining seats</h1>
    <form method="post">
        <fieldset class="form-group">
            <label>SeatCode:</label>
            <input type="text" name="seatNo" class="form-control" id="seatcode" >
        </fieldset>
        <fieldset class="form-group">
            <label>Customer Name:</label>
            <input type="text" name="name" class="form-control">
        </fieldset>
        <fieldset class="form-group">
            <label>Transaction Date:</label>
            <input type="text" name="tDate" class="form-control">
        </fieldset>
        <input class="btn btn-success" type="submit" value="Reverse" th:href="@{addtodo}" onclick="return validation()"/>
    </form>
</div>
</body>
<footer>
    <table id="container2">
        <thead>
        <tr>
            <th>Transation Code</th>
            <th>Date</th>
            <th>Seat Number</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p:${customerList}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.tdate}"></td>
            <td th:text="${p.seatno}"></td>
            <td th:text="${p.name}"></td>
            <td><a class="btn btn-danger" onClick="return confirm('Are you sure you want to deletethe record ?')" th:href="@{delete-todo(id=${p.id})}">Delete</a> </td>
            <td><a class="btn btn-success" th:href="@{update-todo(id=${p.seatno})}">Edit</a></td>
        </tr>
        </tbody>
    </table>
</footer>
</html>